@font-face {
    font-family: Sophia;
    src: url(Sophia.woff);
}




.Heading{    /*Styles the heading */
    font-size: 60px;
    padding:20px;
    margin:0;
    background-color:#E9C5A4;
    text-align: center;
    font-family: Sophia;

}
/*Styles the navigation bar */
.NavBar{       
    font-size: 22px;
    overflow:hidden;
    background-color: #BE8260;
    text-align: center;
    margin-top: 10px; 
 
}

/*Styles the text in the navbar */
.NavBar a {    
    text-align: center;
    float:left; 
    font-size: 22px;
    font-family: 'Gill Sans';
    color: black;
    padding: 10px;
    text-decoration:double;
    
}  

/*Colour of navbar text on hover */
.NavBar a:hover {
    background-color:#915C3B;
} 

/* Styles the arrow down for the dropdown*/
.fa {
    color:black;
    width:4px;
    font-size: 15px;
}

.MenuDropDown {
    float:left;
    overflow:hidden;
}

.MenuDropDown .dropdownbutton{
    font-size:22px;
    border:none;
    outline:none;
    color:black;
    padding:10px;
    background-color:inherit;
    font-family:inherit;
    margin:0;
}

/*Styles the Dropdown box */
.dropdowntext {
    display:none;
    background-color: #915C3B;
    box-shadow:2px; 
    position:absolute; /* Makes the whole navbar stay fixed when using dropdown*/
    

}

/*Adds style to menu dropdown items */
.dropdowntext a {
    float:none; 
    color:black; 
    text-decoration:solid;
    display:block;
    text-align: center;


}

/*Colour of dropdown text on hover */
.dropdowntext a:hover {
    background-color:#E9C5A4;
} 

/*Display style of the dropdown */
.MenuDropDown:hover .dropdowntext {
    display: block;
}   

.Full_catering_Container {
    background-color:#915C3B;
    padding:5px 10px 5px 10px; 
    margin:3% 10% 3% 10%;
    border-style:groove;
    border-color: #BE8260;
    border-width:10px;
    border-radius: 5px;
    

}

.Full_catering_title {
    font-size: 48px;
    text-align: center;
    font-family:Sophia;

}


.Inclusions {
    text-align:center;
    margin:12%;
    font-style: italic;
    background-color: #BE8260;
    padding:20px;
    border-radius: 10px;
}

.Inclusions_items{
    list-style-type: none;
}

.columns {
    float:left;
    width:225px;
    padding:8px;
    margin:3px;

}

.price {
    list-style-type: none;
    border: 1px solid white;
    margin:0;
    padding:0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .Header {
    background-color:#915C3B; 
    color:white; 
    font-size:25px;
}

.price li {
    border:1px solid #915c3bd3;
    padding: 20px;
    text-align:center;
}

.price .price1 {
    background-color:#915c3b8e;
    font-size:20px;

}

.Conditons{
    text-align: center;
    margin: auto;
    padding:20px;
    font-size: 20px;
    font-style: italic;
}


.footer {
    background-color: #E9C5A4;
    text-align: left;
    padding:10px;
    width:auto;
    height:10%;
    margin-top:100px;
}

.ContactInfo{
    text-align:center;
}

.logo{
    width:20px;
    height:20px;
    padding:5px;

}

.copyright {
    text-align:center;
    font-style: italic;
}
